
.window_error{ 
    position: fixed; 
    z-index: 2332; 
    background-color: red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; /* За замовчуванням вікно приховане */
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    text-align: center;
}

/* Додаткові стилі для контенту вікна з помилкою */
.error_title {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    color: black;
}

.error_message {
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 1.4;
    color: black;
}

.error_close {
    padding: 10px 20px;
    background-color: white;
    color: rgb(241, 241, 241);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    color: black;
}

/* Додатковий код для анімації появи вікна */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.window_error.show {
    display: block;
    animation: fadeIn 0.3s;
}